# Copy this file to .env and set a secure username/password before deploying
PORTAL_USERNAME=admin
PORTAL_PASSWORD=changeme
GADGET_ENV=development
GADGET_API_KEY=gsk-YOUR_GADGET_API_KEY_HERE
SHOPIFY_SHOP_NAME=shotify-2nqf2xwz
SHOPIFY_API_VERSION=2026-04
CLIENT_ID=YOUR_SHOPIFY_CLIENT_ID
CLIENT_SECRET=YOUR_SHOPIFY_CLIENT_SECRET
